@charset="utf-8";
*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
a:hover{text-decoration: underline;}
.full_page{
   margin: 0px auto;
   width: 1000px;
}
img.toplogo{
	width: 1000px;
	height: 250px;
}
.top_slogan{
	height: 70px;
	background-color:red;
	font-weight: bolder;
	
}

.top_slogan h1,p{
	text-align:center;
}
.navlogo {
	width: 200px;
	height: 80px;
	float: left;
}
.navcenter{
    width: 500px;
    height: 80px;
    float: left;
}
.navcentertop ,.navcenterbottom{
	height: 40px;
	padding-left: 25px;
	padding-right: 25px;
}
.navcenterbottom a{
	float: left;
	width: 80px;
	height: 27px;
	line-height: 27px;
	text-align: center;
	color:red;
	font:bolder 15px 微软雅黑;
	display: block;
	margin-left: 10px;
	
}
.navcenterbottom a.pre{
	background:url(../images/pre.jpg) no-repeat;
	color: white;
}
.navcenterbottom a.bg{
	background:url(../images/bg.jpg) no-repeat;
}
.navright{
	width: 300px;
	height: 80px;
	float: left;

}
.navrighttop{
	height: 30px;
	}
.navrightbottom{
	height: 50px;
	background:url(../images/gwc.jpg) no-repeat;
	padding-bottom: 10px;

}
.navrightbottom a{
	padding-left: 30px;
	color:red;
}
.search{
 
	clear: both;
	height: 30px;
	background-color:red;
	font-weight:bolder;
}
.search table{
	width: 500px;
	margin: 0 auto;
}

 .search input{
 	width:100px;
 }
.search input.text{
	width: 130px;
}
.consult{
	height: 130px;
	text-align: center;
}
.consult a{
    display: block;
	width: 200px;
    float:left;
    margin-top: 10px;
    margin-bottom:10px;
}
.consult img{
	width: 1000px;
	height: 100px;

}

input.submit{
	width: 100px;
}
div#center{
   width: 100%;
   height: 450px;
   /*background-color: red;*/
   margin-top: 5px;
   clear: both;
 
}
div.center_left,.center_middle,.center_right{
	height: 450px;
	float: left;
	margin-left:5px;
}
div.center_middle{
	width:650px;
}
div.center_left{
	width: 150px;
    /*background-color:green;*/
}
div.smalltitle {
     background-color:#F7EEEE;
	 text-align:center;
	 height: 30px;
	 
}
li { list-style: none; }
.center_left ul { width: 150px;border: 1px solid #CBC8C8; box-sizing: border-box; position: relative; }
.center_left ul li { height: 42px; text-align:center; line-height: 42px; font-size: 20px; z-index: 2; }
.center_left ul li a { color:#4B4646; }
.center_left ul li a:hover { color: red;  cursor: pointer; }
.center_left ul li:hover { border: 1px solid #DDD; border-right: 0; background-image: none; }
.center_left ul li:hover .submenu { display: block; }
.center_left ul li:hover span { width: 30px; height: 30px; display: inline-block; background-color: #FFF; float: right; z-index: 100; position: relative; }
.center_left ul li .submenu { position: absolute; left: 146px; top: 0; width: 720px; height: 300px; border: 1px solid #DDD; box-shadow: 0 0 8px #DDD; -moz-box-shadow: 0 0 8px #DDD; -webkit-box-shadow: 0 0 8px #DDD; background-color: #FFF; z-index: 3; display: none; }
.center_left ul li .submenu .subleft { margin-left: 0px; width: 400px; height: 300px; float: left; padding: 5px; }
.center_left ul li .submenu .subleft dl { overflow: hidden; border-bottom: 1px solid #D1D1D1; padding: 10px 0; }
.center_left ul li .submenu .subleft dl dd a { display: block; float: left; border-left: 1px solid #707070; padding: 0 5px; color: #707070; height: 14px; line-height: 14px; margin: 3px 0; font-size: 11px; }
.center_middle_top{	height: 270px;}
.center_middle_top img{ width: 100%;height: 100%;}
.center_middle_bottom{height: 180px; margin-top: 9px;}
.center_middle_bottom table{border-collapse:collapse;}
.center_middle_bottom table td{width: 130px;height:170px;text-align: center;border:1px solid #CBC8C8;}
.center_middle_bottom table td a.one{display: block;}
.center_middle_bottom table td a.one:hover{color: red;}
.center_right{width: 185px;}
.center_right_top {text-align: center;background-color:#F7EEEE;height: 30px;border: 1px solid gray;}
.center_right_top a{color:black height:30px;line-height: 30px;}
.center_right_top a:hover{color:red}
.center_right_middle{height: 180px;margin-top: 5px;border: 1px solid #CBC8C8; text-align: center;}
.center_right_middle .smalltitle_one{height: 30px;background-color:#DEDADA;}
.center_right_middle .smalltitle_one a{height: 30px;line-height: 30px;color: black}
.center_right_middle a:hover{color: red;}
.center_right_middle ul li {height:26px;line-height: 26px;}
.center_right_middle ul li a{color: #575555;}
.center_right_bottom{height: 225px;margin-top: 5px;border: 1px solid #CBC8C8; text-align: left;}
.center_right_bottom .smalltitle_two{ background-color:#DE2D2D; height: 30px; text-align: center;}
.smalltitle_two a{color:white; font: bloder 20px 微软雅黑; height: 30px;line-height: 30px; }
.center_right_bottom ul li{ height: 24px;line-height: 24px; }
.center_right_bottom ul li a{color:black;}
.center_right_bottom ul li a:hover{color:red;}
.main{width: 1000px;height: 464px; margin-top: 5px;}
.main .smalltitle_three{height: 20px;background-color: #F8F6F6;padding-left: 10px; border:1px solid #CBC8C8;}
.main .smalltitle_three a{color:black;font:bold 15px 微软雅黑 ;height: 20px;line-height: 20px;}
.main .smalltitle_three a:hover{color: red;}
.main table{border-collapse: collapse; width: 1000px;text-align: center;}
.main table td{width: 165.6px;height: 220px; border:1px solid #CBC8C8;vertical-align:top;}
.main table td img{ width: 120px;height: 150px; }
.main table td a{display: block;color:black;}
.main table td a:hover{color:red;}
.contact{width: 100%;height: 115px;}
.contact table{width:1000px;border-bottom: 1px dotted gray;border-right: 1px dotted gray;border-left: 1px dotted gray;}
.contact table td a{color:red;}
.contact table td.one{width: 500px;height: 115px;text-align: left;vertical-align: top;}
.contact table td.two{width: 500px;height: 115px;text-align: right;vertical-align: top;}
.footer{width: 100%;height: 100px;border: 1px solid #CBC8C8;margin-top:10px;text-align: center;}

